{% extends 'expenses/base.html' %}
{% block title %}Connexion{% endblock %}
{% block content %}
<h2>Connexion</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="id_username" class="form-label">Nom d’utilisateur</label>
    <input type="text" name="username" autofocus required id="id_username"
           class="form-control">
  </div>
  <div class="mb-3">
    <label for="id_password" class="form-label">Mot de passe</label>
    <input type="password" name="password" required id="id_password"
           class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Se connecter</button>
</form>
{% endblock %}