{% extends 'expenses/base.html' %}
{% load crispy_forms_tags %}

{% block title %}S’inscrire{% endblock %}

{% block content %}
<h2 class="mb-4">Créer un compte</h2>

<form method="post" class="row g-3">
  {% csrf_token %}
  <div class="col-md-6">{{ form.username|as_crispy_field }}</div>
  <div class="col-md-6">{{ form.email|as_crispy_field }}</div>
  <div class="col-md-6">{{ form.password1|as_crispy_field }}</div>
  <div class="col-md-6">{{ form.password2|as_crispy_field }}</div>
  <div class="col-12">
    <button type="submit" class="btn btn-success">S’inscrire</button>
  </div>
</form>
{% endblock %}